In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect(":memory:")
cur = con.cursor()

In [3]:
link = 'https://raw.githubusercontent.com/plotly/datasets/master/dash-sample-apps/dash-web-trader/data/EURUSD.csv'

In [4]:
data = pd.read_csv(link)

In [5]:
data.shape

   Symbol                     Date      Bid      Ask
0  EURUSD  2016-01-04 18:00:40.420  1.08196  1.08200
1  EURUSD  2016-01-04 18:00:40.442  1.08194  1.08200
2  EURUSD  2016-01-04 18:00:40.528  1.08196  1.08200
3  EURUSD  2016-01-04 18:00:40.554  1.08194  1.08200
4  EURUSD  2016-01-04 18:00:40.651  1.08194  1.08198

In [6]:
data.to_sql("data", con, index=False, if_exists="replace")

In [7]:
pd.read_sql(
    """
    SELECT * FROM data
    limit 5
    """,
    con,
)

   Symbol                     Date      Bid      Ask
0  EURUSD  2016-01-04 18:00:40.420  1.08196  1.08200
1  EURUSD  2016-01-04 18:00:40.442  1.08194  1.08200
2  EURUSD  2016-01-04 18:00:40.528  1.08196  1.08200
3  EURUSD  2016-01-04 18:00:40.554  1.08194  1.08200
4  EURUSD  2016-01-04 18:00:40.651  1.08194  1.08198

In [15]:
pd.read_sql(
    """
    SELECT count(1) FROM data
    """,
    con,
)

   count(1)
0    205129

In [19]:
pd.read_sql(
    """
    SELECT distinct Symbol FROM data
    """,
    con,
)

   Symbol
0  EURUSD

In [20]:
pd.read_sql(
    """
    SELECT min(Date), max(Date) FROM data
    """,
    con,
)

                 min(Date)                max(Date)
0  2016-01-04 18:00:40.420  2016-01-05 23:59:55.625

In [21]:
pd.read_sql(
    """
    SELECT count(*) FROM data
    where Date is null
    """,
    con,
)

   count(*)
0         0

In [43]:
pd.read_sql(
    """
    SELECT Symbol,Date,Ask-Bid as 'ask-bid',
    Bid,lag(Bid) over() as 'prev_bid',
    Bid-lag(Bid) over() as 'prev_lag_bid',
    
    Ask,lag(Ask) over() as 'prev_bid',
    Bid-lag(Ask) over() as 'prev_lag_ask'
    
    FROM data
    limit 10

    """,
    con,
)

,Symbol,Date,ask-bid,Bid,prev_bid,prev_lag_bid,Ask,prev_bid,prev_lag_ask
0,EURUSD,2016-01-04 18:00:40.420,0.00004,1.08196,NaN,NaN,1.08200,NaN,NaN
1,EURUSD,2016-01-04 18:00:40.442,0.00006,1.08194,1.08196,-0.00002,1.08200,1.08200,-0.00006
2,EURUSD,2016-01-04 18:00:40.528,0.00004,1.08196,1.08194,0.00002,1.08200,1.08200,-0.00004
3,EURUSD,2016-01-04 18:00:40.554,0.00006,1.08194,1.08196,-0.00002,1.08200,1.08200,-0.00006
4,EURUSD,2016-01-04 18:00:40.651,0.00004,1.08194,1.08194,0.00000,1.08198,1.08200,-0.00006
5,EURUSD,2016-01-04 18:00:40.683,0.00006,1.08194,1.08194,0.00000,1.08200,1.08198,-0.00004
6,EURUSD,2016-01-04 18:00:40.926,0.00004,1.08196,1.08194,0.00002,1.08200,1.08200,-0.00004
7,EURUSD,2016-01-04 18:00:41.068,0.00006,1.08194,1.08196,-0.00002,1.08200,1.08200,-0.00006
8,EURUSD,2016-01-04 18:00:43.988,0.00004,1.08194,1.08194,0.00000,1.08198,1.08200,-0.00006
9,EURUSD,2016-01-04 18:00:45.149,0.00006,1.08194,1.08194,0.00000,1.08200,1.08198,-0.00004

разность Ask - Bid
предыдущие значения Ask, Bid
падение или рост в предыдующий момент времени Ask, Bid
количественное изменение
отклонение от среднего за промежуток времени
среднее за промежуток времени

рабочее/нерабочее время
время суток
выходные и празники и рабочии дни
промежуток в течение рабочего дня