In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("iris.csv")
data.tail(7)

     sepal.length  sepal.width  petal.length  petal.width    variety
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [3]:
#data['bool'] =  np.random.choice([False,True], size=len(data))

In [4]:
data.head(7)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa

In [5]:

data["petal.width"].iloc[145:149] = None
data.tail(7)

     sepal.length  sepal.width  petal.length  petal.width    variety
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          NaN  Virginica
146           6.3          2.5           5.0          NaN  Virginica
147           6.5          3.0           5.2          NaN  Virginica
148           6.2          3.4           5.4          NaN  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   146 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
data.size

750

In [8]:
data.count()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     146
variety         150
dtype: int64

In [9]:
data.kurtosis()

sepal.length   -0.552064
sepal.width     0.228249
petal.length   -1.402103
petal.width    -1.330486
dtype: float64

In [10]:
data.kurt()

sepal.length   -0.552064
sepal.width     0.228249
petal.length   -1.402103
petal.width    -1.330486
dtype: float64

In [11]:
data.mad() ########

sepal.length    0.687556
sepal.width     0.336782
petal.length    1.562747
petal.width     0.655320
dtype: float64

In [12]:
data.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.173973
dtype: float64

In [13]:
data.median()

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [14]:
data.mode(dropna=False) ####

   sepal.length  sepal.width  petal.length  petal.width     variety
0           5.0          3.0           1.4          0.2      Setosa
1           NaN          NaN           1.5          NaN  Versicolor
2           NaN          NaN           NaN          NaN   Virginica

In [15]:
data.var()

sepal.length    0.685694
sepal.width     0.189979
petal.length    3.116278
petal.width     0.571870
dtype: float64

In [16]:
data.std()

sepal.length    0.828066
sepal.width     0.435866
petal.length    1.765298
petal.width     0.756221
dtype: float64

In [17]:
data.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [18]:
data.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [19]:
data.quantile()

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
Name: 0.5, dtype: float64

In [20]:
data.quantile(q=.25)

sepal.length    5.1
sepal.width     2.8
petal.length    1.6
petal.width     0.3
Name: 0.25, dtype: float64

In [21]:
data.quantile(q=.75)

sepal.length    6.4
sepal.width     3.3
petal.length    5.1
petal.width     1.8
Name: 0.75, dtype: float64

In [22]:
data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   146.000000
mean       5.843333     3.057333      3.758000     1.173973
std        0.828066     0.435866      1.765298     0.756221
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
data.sem() # стандартная ошибка среднего дисперсия на корень из n
## https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%B0%D0%BD%D0%B4%D0%B0%D1%80%D1%82%D0%BD%D0%B0%D1%8F_%D0%BE%D1%88%D0%B8%D0%B1%D0%BA%D0%B0

sepal.length    0.067611
sepal.width     0.035588
petal.length    0.144136
petal.width     0.062585
dtype: float64

In [24]:
data.nunique()

sepal.length    35
sepal.width     23
petal.length    43
petal.width     22
variety          3
dtype: int64

In [25]:
data.sum()

sepal.length                                                876.5
sepal.width                                                 458.6
petal.length                                                563.7
petal.width                                                 171.4
variety         SetosaSetosaSetosaSetosaSetosaSetosaSetosaSeto...
dtype: object

In [26]:
data.describe(include='all')

        sepal.length  sepal.width  petal.length  petal.width variety
count     150.000000   150.000000    150.000000   146.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  Setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.173973     NaN
std         0.828066     0.435866      1.765298     0.756221     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [27]:
data.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     4
variety         0
dtype: int64

In [28]:
data.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     4
variety         0
dtype: int64

In [29]:
data.describe(percentiles=[.05, .5, .75, 0.95])

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   146.000000
mean       5.843333     3.057333      3.758000     1.173973
std        0.828066     0.435866      1.765298     0.756221
min        4.300000     2.000000      1.000000     0.100000
5%         4.600000     2.345000      1.300000     0.200000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
95%        7.255000     3.800000      6.100000     2.300000
max        7.900000     4.400000      6.900000     2.500000

In [30]:
data.notna().sum()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     146
variety         150
dtype: int64

In [31]:
data.notnull().sum()

sepal.length    150
sepal.width     150
petal.length    150
petal.width     146
variety         150
dtype: int64

In [32]:
display(data.agg(
    {
        "sepal.length": ["min", "max", "median", "sem"],
        "petal.length": ["min", "max", "median", "mean", "sum", "sem"]
    }))

        sepal.length  petal.length
min         4.300000      1.000000
max         7.900000      6.900000
median      5.800000      4.350000
sem         0.067611      0.144136
mean             NaN      3.758000
sum              NaN    563.700000